/* 对话框 */
.loaf-dialog-background{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 10;
}
.loaf-dialog-posi{
  width: 100%;
  position: absolute;
  bottom: 20vh;
  display: flex;
  justify-content: center;
}
.loaf-dialog{
  position: relative;
  width: 60vw;
  user-select: none;
}
.loaf-dialog-main{
  min-height: 130px;
  padding: 20px 30px 20px 30px;
  font-size: 20px;

  border-radius:5px;
  background-color: rgb(255,255,255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.loaf-dialog-left{
  position: absolute;
  top:-225px;
  left:0;
  display: flex;
  flex-direction: column;
}
.loaf-dialog-left-img{
  width: 200px;
  height: 200px;
}
.loaf-dialog-left img{
  width: 200px;
  height: 200px;
}
.loaf-dialog-left span{
  width: 200px;
  height: 30px;
  text-align: center;
  line-height: 30px;

  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

/* 系统菜单 */
.loaf-menu{
  position: fixed;
  top:25px;
  left:30px;
  z-index: 3;
}
/* 弹出菜单 */
.loaf-popup{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: rgba(0, 0, 0,0.7);
}
.loaf-popup-content{
  background-color: #fff;
  border-radius: 20px;
  width:500px;
  height:300px;
  position: relative;
}
.loaf-popup-content .el-icon-circle-close{
  position: absolute;
  right: 10px;
  top:10px;
  font-size: 30px;
}
.loaf-popup-content .el-icon-circle-close:hover{
  cursor: pointer;
  opacity: 0.8;
}